<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="products.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <title>Gcoffee</title>
<div class='Body'>
  <div class ="goods">
    <h3>インスタントコーヒーベスト</h3>
    <div class= "goodslist">
      <div class= "goods1">
        <h6>ウエスティンカフェ<br>
        マイルドブレンド瓶</h6>
        <%= image_tag "/2039793_l1.jpg", width: "110px", class: "instant"%>
        <p>世界有数のコーヒー産地、<br>
        インドネシアのマンデリン地方産の<br>
        良質のコーヒー豆をブレンドした、<br>
        バランスが良いインスタントコーヒーです。</p>
      </div>
      <div class="goods2">
        <h6>UCCザ・ブレンド114　90g</h6>
        <%= image_tag "/P099307_l1.jpg", width: "110px", class: "instant"%>
        <p>繊細な味覚で1つ1つの味わいを丁寧に感じ、<br>
        試行錯誤を繰り返す中、ついに選び抜かれたブレンド<br>
        香り豊かなやわらかな味わいで、<br>
        ブラジル、エクアドルなどの厳選した<br>
        コーヒー豆をブレンドした人気のコーヒーです。</p>
      </div>
      <div class= "goods3">
        <h6>AGFブレンディ 1袋（210g）</h6>
        <%= image_tag "/P010595_l1.jpg", width: "110px", class: "instant"%>
        <p>「Blendy(ブレンディ) インスタントコーヒー（粉末）」は、<br>
        独自の焙煎技術により、まろやかで豊かなコクと香りが楽しめます。<br>
        冷たい水や牛乳にも溶けるので、<br>
        ホットはもちろんアイスコーヒーやアイスカフェオレにもおすすめです。</p>
      </div>
      <div class= "goods4">
        <h6>おいしいカフェインレスコーヒー　45g</h6>
        <%= image_tag "/1860571_l1.jpg", width: "110px", class: "instant"%>
        <p>厳選アラビカコーヒー100％使用。<br>
        豊かな香りとコクのある味わい。<br>
        手軽&簡単に楽しめるインスタントコーヒー。</p>
      </div>
    </div>
    <div class= "part2">
      <div class="goods5">
        <h6>オーガニック　カフェインレス100g</h6>
        <%= image_tag "/8951284_l1.jpg", width: "110px", class: "instant"%>
        <p>高地有機栽培のアラビカ豆100%ブレンドです。<br>
        深く豊かな味と香りをそのまま楽しめます。</p>
      </div>
      <div class= "goods6">
        <h6>UCCザ・ブレンド117　90g</h6>
        <%= image_tag "/P099308_l1.jpg", width: "110px", class: "instant"%>
        <p>500種類のテイストから厳選された深いコクと豊かな香り。</p>
      </div>
      <div class= "goods7">
        <h6>UCC ザブレンド114 90g 12本</h6>
        <%= image_tag "/X765300_l1.jpg", width: "110px", class: "instant"%>
        <p>香り豊かなやわらかな味わい。<br>
        ブラジル、エクアドルなどの厳選した<br>
        コーヒー豆をブレンドした人気のコーヒーです。</p>
      </div>
      <div class="goods8">
        <h6>ゴールドブレンドカフェインレス60g1本</h6>
        <%= image_tag "/1587541_l1.jpg", width: "110px", class: "instant"%>
        <p>ゴールドブレンドならではの上質な香りと<br>
        マイルドな味わいはそのままに、<br>
        自然の水だけを使用する独自の製法でカフェインを９７％カット。<br>
        「コーヒーは飲みたいけれど、カフェインが気になる」<br>
        という方にお楽しみいただける、やさしいコーヒーです。</p>
      </div>  
    </div>      
  </div>
  <div class='contactform'>
    <a class='twitter' href="https://twitter.com/login?lang=ja">twitter</a>
    <div class='contact'>お問い合わせ</div>
    <div class='share'>シェア</div>
  </div>
</div>  