<!DOCTYPE html>
<html>
  <head>
    <title>G coffee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <div class='Header'>
        <a href="/coffee"><h1 class="Headername">G coffee</h1></a>    
        <% if user_signed_in? %>
        <div class="menu">
          <%= link_to "お気に入り投稿", new_coffee_path, class: "favorite" %>
          <%= link_to "マイページ", "/users/#{current_user.id}", class: "mypage"%>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
        </div>
        <% else %>
          <%= link_to '新規登録', new_user_registration_path, class: "signup" %>
          <%= link_to "ログイン", new_user_session_path, class: "post" %>
        <% end %>
      </div>    
    </header>
      <%# <p class="notice"><%= notice %>
      <%# <p class="alert"><%= alert %>
    <%= yield %>
  </body>
</html>
